.clientesSection {
	@include span-columns(12);
	padding:30px 0;
	@include media($tablet) {
		padding:50px 0;
		height: 700px;
	}@include media($tabletLand) {
		padding:50px 0;
		height: 500px;
	}
	@include media($notebook) {
		padding:50px 0;
		height: 800px;
	}
	.box-logos {
		//@include outer-container(80%);
		//margin: 0 auto !important;
		padding: 0;
		text:{align:center;}
		width: 100%;
        height: 300px;
        margin: 20px auto;
        @include media($mobileLand) {
			@include outer-container(70%);
			height: 300px;
		}
		@include media($tablet) {
			height: 440px;
		}
		@include media($tabletLand) {
			@include outer-container(90%);
			height: 300px;
			margin:0 auto !important;
		}
		@include media($notebook) {
			@include outer-container(80%);
			height: 300px;
			margin:120px auto !important;
		}	
		.wrapper-box-logos {
			//@include span-columns(12);
			//height: auto;
			.one-box-logos {
				//@include span-columns(12);
				width:300px;
				height: 100%;
				display: -webkit-box;
		        display: -ms-flexbox;
		        display: -webkit-flex;
		        display: flex;
		        -webkit-box-pack: center;
		        -ms-flex-pack: center;
		        -webkit-justify-content: center;
		        justify-content: center;
		        -webkit-box-align: center;
		        -ms-flex-align: center;
		        -webkit-align-items: center;
		        align-items: center;
		        .caja-logos {
		        	@include span-columns(12);
		        	&.mobile-desktop {
		        		display: none;
		        		@include media($notebook) {
							display: block;
							position: absolute;
							top: 0;
							left: 0;
		        		}
		        	}
		        	&.mobile-just {
		        		@include media($notebook) {
		        			display: none;
		        		}
		        	}
			        ul {
						padding: 0;
						width: 80%;
						float: none;
						display: block;
						margin: 0 auto !important;
						&.mobile-desktop {
							display: none;
							@include media($notebook) {
								@include span-columns(12);
								display: block;
							}
						}
						li {
							@include span-columns(5);
							list-style: none;
							float: none;
							display: inline-block;
							margin:{right:10px;}
							@include media($mobile) {
								margin:0;
							}
							@include media($tabletLand) {
								@include span-columns(3);
							}
							@include media($notebook) {
								@include span-columns(3);
							}
							a {
								@include outer-container(80%);
								height: 100px;
								display: table;
								@include media($notebook) {
									@include outer-container(60%);
								}
								svg {
									display: table-cell;
									vertical-align: middle;
									width:100%; 
									height: auto;
									display: block;
				   					margin: 0 auto;
								}
								img {
									display: table-cell;
									vertical-align: middle;
									width:100%; 
									height: auto;
									display: block;
				   					margin: 0 auto;
								}
								&.carat-logo {
									img {
										padding: 50px 0;	
									} 
								}
								&.phd-logo {
									img {
										padding: 40px 0;	
									} 
								}
								&.omnicommediagroup-logo {
									img {
										padding: 45px 0;	
									} 
								}
							}
						}
					}	
		        }
			}
		}
		.swiper-pagination {
			width: 100%;
			height: 40px;
		}
		.swiper-pagination {
    		.swiper-pagination-bullet {
    			background: #585656;
    			&.swiper-pagination-bullet-active {
    				background: $blackcolor;
    			}
    		}
    	}
	}
	.swiper-button-next {
		background-image:url(../img/arrow-right-black.png);
		@include media($tablet) {
			right: 60px;
		}
	}
	.swiper-button-prev {
		background-image:url(../img/arrow-left-black.png);
		@include media($tablet) {
			left: 60px;
		}
	}
}