@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  position: relative; }
  body .titleMTG {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    float: none; }
    body .titleMTG:last-child {
      margin-right: 0; }
    @media screen and (min-width: 80em) {
      body .titleMTG {
        font-size: 2em; } }
    body .titleMTG.title-white {
      color: #fff; }
  body .line-title {
    width: 50px;
    background: #000;
    height: 3px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px; }
    body .line-title.title-white {
      background: #fff; }

.mobile-desktop {
  display: none; }
  @media screen and (min-width: 80em) {
    .mobile-desktop {
      display: block; } }

.homeSection {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 670px;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .homeSection:last-child {
    margin-right: 0; }
  @media screen and (min-width: 80em) {
    .homeSection {
      height: 900px; } }
  .homeSection .parallax-window {
    min-height: 400px;
    height: 670px;
    background: transparent; }
    @media screen and (min-width: 80em) {
      .homeSection .parallax-window {
        height: 900px; } }
  .homeSection .content-logotipes {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center;
    height: 100%;
    display: table; }
    .homeSection .content-logotipes:last-child {
      margin-right: 0; }
    .homeSection .content-logotipes .center-icon {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      float: none;
      display: table-cell;
      vertical-align: middle; }
      .homeSection .content-logotipes .center-icon:last-child {
        margin-right: 0; }
      .homeSection .content-logotipes .center-icon .mediatrends-group {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto; }
        .homeSection .content-logotipes .center-icon .mediatrends-group::after {
          clear: both;
          content: "";
          display: table; }
        .homeSection .content-logotipes .center-icon .mediatrends-group a {
          width: 100%;
          height: auto; }
          .homeSection .content-logotipes .center-icon .mediatrends-group a svg {
            width: 100%;
            height: auto;
            display: block; }
        @media screen and (min-width: 80em) {
          .homeSection .content-logotipes .center-icon .mediatrends-group {
            display: none; } }
      .homeSection .content-logotipes .center-icon .logotipos-home {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        text-align: center; }
        .homeSection .content-logotipes .center-icon .logotipos-home:last-child {
          margin-right: 0; }
        .homeSection .content-logotipes .center-icon .logotipos-home ul {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          margin: 0 auto;
          display: table-cell;
          vertical-align: middle; }
          .homeSection .content-logotipes .center-icon .logotipos-home ul:last-child {
            margin-right: 0; }
          @media screen and (min-width: 80em) {
            .homeSection .content-logotipes .center-icon .logotipos-home ul {
              max-width: 80%;
              margin-left: auto;
              margin-right: auto;
              margin: 0 auto !important;
              padding: 0;
              display: block;
              float: none; }
              .homeSection .content-logotipes .center-icon .logotipos-home ul::after {
                clear: both;
                content: "";
                display: table; } }
          .homeSection .content-logotipes .center-icon .logotipos-home ul li {
            list-style: none;
            display: inline-block;
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 40.29137%;
            height: 134px; }
            .homeSection .content-logotipes .center-icon .logotipos-home ul li:last-child {
              margin-right: 0; }
            @media screen and (min-width: 80em) {
              .homeSection .content-logotipes .center-icon .logotipos-home ul li {
                float: left;
                display: block;
                margin-right: 2.35765%;
                width: 12.996%;
                display: inline-block;
                float: none; }
                .homeSection .content-logotipes .center-icon .logotipos-home ul li:last-child {
                  margin-right: 0; } }
            .homeSection .content-logotipes .center-icon .logotipos-home ul li .logotipe-box {
              width: 100%;
              height: 100%;
              display: table; }
              .homeSection .content-logotipes .center-icon .logotipos-home ul li .logotipe-box a {
                width: 100%;
                height: auto;
                display: table-cell;
                vertical-align: middle;
                margin: 0 auto !important; }
                .homeSection .content-logotipes .center-icon .logotipos-home ul li .logotipe-box a svg {
                  width: 100%;
                  height: auto;
                  display: block; }
                .homeSection .content-logotipes .center-icon .logotipos-home ul li .logotipe-box a img {
                  width: 100%;
                  height: auto;
                  display: block; }
                  @media screen and (min-width: 80em) {
                    .homeSection .content-logotipes .center-icon .logotipos-home ul li .logotipe-box a img {
                      width: 130%; } }
                .homeSection .content-logotipes .center-icon .logotipos-home ul li .logotipe-box a.logo-mediatrendslab svg {
                  width: 80%;
                  margin: 0 auto; }
                .homeSection .content-logotipes .center-icon .logotipos-home ul li .logotipe-box a.logo-MTG {
                  display: none; }
                  @media screen and (min-width: 80em) {
                    .homeSection .content-logotipes .center-icon .logotipos-home ul li .logotipe-box a.logo-MTG {
                      display: block; } }
                .homeSection .content-logotipes .center-icon .logotipos-home ul li .logotipe-box a.logo-mediatrends svg {
                  width: 80%;
                  margin: 0 auto; }
            .homeSection .content-logotipes .center-icon .logotipos-home ul li.logo-MTG-Mobile {
              display: none; }
              @media screen and (min-width: 80em) {
                .homeSection .content-logotipes .center-icon .logotipos-home ul li.logo-MTG-Mobile {
                  float: left;
                  display: block;
                  margin-right: 2.35765%;
                  width: 31.76157%;
                  float: none;
                  display: inline-block; }
                  .homeSection .content-logotipes .center-icon .logotipos-home ul li.logo-MTG-Mobile:last-child {
                    margin-right: 0; }
                  .homeSection .content-logotipes .center-icon .logotipos-home ul li.logo-MTG-Mobile .logotipe-box {
                    margin-top: -185px; } }
  .homeSection .texto-homMTG {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center;
    display: table;
    position: absolute;
    bottom: 38px;
    color: #fff;
    font-size: 13px;
    padding: 0 20px; }
    .homeSection .texto-homMTG:last-child {
      margin-right: 0; }
    .homeSection .texto-homMTG mark {
      color: #000;
      background: #fff; }
    @media screen and (min-width: 80em) {
      .homeSection .texto-homMTG {
        font-size: 25px;
        bottom: 180px;
        padding: 0 400px; } }

.clientesSection {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 30px 0; }
  .clientesSection:last-child {
    margin-right: 0; }
  @media screen and (min-width: 80em) {
    .clientesSection {
      padding: 50px 0;
      height: 800px; } }
  .clientesSection .box-logos {
    padding: 0;
    text-align: center;
    width: 100%;
    height: 300px;
    margin: 20px auto; }
    @media screen and (min-width: 80em) {
      .clientesSection .box-logos {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        margin: 120px auto !important; }
        .clientesSection .box-logos::after {
          clear: both;
          content: "";
          display: table; } }
    .clientesSection .box-logos .wrapper-box-logos .one-box-logos {
      width: 300px;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
      .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos:last-child {
          margin-right: 0; }
        .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos.mobile-desktop {
          display: none; }
          @media screen and (min-width: 80em) {
            .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos.mobile-desktop {
              display: block;
              position: absolute;
              top: 0;
              left: 0; } }
        @media screen and (min-width: 80em) {
          .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos.mobile-just {
            display: none; } }
        .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          margin: 0;
          padding: 0; }
          .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul:last-child {
            margin-right: 0; }
          .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul.mobile-desktop {
            display: none; }
            @media screen and (min-width: 80em) {
              .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul.mobile-desktop {
                float: left;
                display: block;
                margin-right: 2.35765%;
                width: 100%;
                display: block; }
                .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul.mobile-desktop:last-child {
                  margin-right: 0; } }
          .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul li {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 40.29137%;
            list-style: none;
            float: none;
            display: inline-block;
            margin-right: 10px; }
            .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul li:last-child {
              margin-right: 0; }
            @media screen and (min-width: 80em) {
              .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul li {
                float: left;
                display: block;
                margin-right: 2.35765%;
                width: 23.23176%; }
                .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul li:last-child {
                  margin-right: 0; } }
            .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul li a {
              max-width: 80%;
              margin-left: auto;
              margin-right: auto;
              height: 100px;
              display: table; }
              .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul li a::after {
                clear: both;
                content: "";
                display: table; }
              @media screen and (min-width: 80em) {
                .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul li a {
                  max-width: 60%;
                  margin-left: auto;
                  margin-right: auto; }
                  .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul li a::after {
                    clear: both;
                    content: "";
                    display: table; } }
              .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul li a svg {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                height: auto;
                display: block;
                margin: 0 auto; }
              .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul li a img {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                height: auto;
                display: block;
                margin: 0 auto; }
              .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul li a.carat-logo img {
                padding: 50px 0; }
              .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul li a.phd-logo img {
                padding: 40px 0; }
              .clientesSection .box-logos .wrapper-box-logos .one-box-logos .caja-logos ul li a.omnicommediagroup-logo img {
                padding: 45px 0; }
    .clientesSection .box-logos .swiper-pagination {
      width: 100%;
      height: 40px; }
    .clientesSection .box-logos .swiper-pagination .swiper-pagination-bullet {
      background: #585656; }
      .clientesSection .box-logos .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #000; }
  .clientesSection .swiper-button-next {
    background-image: url(../img/arrow-right-black.png); }
  .clientesSection .swiper-button-prev {
    background-image: url(../img/arrow-left-black.png); }

.networkSection {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center; }
  .networkSection:last-child {
    margin-right: 0; }
  .networkSection .parallax-window {
    padding: 30px 0; }
    @media screen and (min-width: 80em) {
      .networkSection .parallax-window {
        padding: 50px 0; } }
  .networkSection .content-subcontenido {
    margin-bottom: 50px; }
    .networkSection .content-subcontenido p {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin: 0 auto;
      display: block;
      float: none; }
      .networkSection .content-subcontenido p::after {
        clear: both;
        content: "";
        display: table; }
      .networkSection .content-subcontenido p.bajada-title {
        font-size: 0.9em;
        font-weight: bold;
        color: #fff;
        margin-bottom: 10px; }
      .networkSection .content-subcontenido p.texto-section {
        font-size: 0.8em;
        color: #fff;
        margin-bottom: 10px; }
      .networkSection .content-subcontenido p span {
        font-weight: bold;
        font-style: italic; }
    .networkSection .content-subcontenido .box-logos {
      width: 100%;
      height: 300px; }
      .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos {
        width: 300px;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center; }
        .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul {
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
          margin: 0 auto !important;
          padding: 0;
          text-align: center; }
          .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul::after {
            clear: both;
            content: "";
            display: table; }
          @media screen and (min-width: 80em) {
            .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul {
              max-width: 60%;
              margin-left: auto;
              margin-right: auto;
              margin-top: 40px !important; }
              .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul::after {
                clear: both;
                content: "";
                display: table; } }
          .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul li {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 40.29137%;
            list-style: none;
            float: none;
            display: inline-block;
            margin-right: 10px; }
            .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul li:last-child {
              margin-right: 0; }
            @media screen and (min-width: 80em) {
              .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul li {
                float: left;
                display: block;
                margin-right: 2.35765%;
                width: 23.23176%; }
                .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul li:last-child {
                  margin-right: 0; } }
            .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul li a {
              max-width: 80%;
              margin-left: auto;
              margin-right: auto;
              height: 100px;
              display: table; }
              .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul li a::after {
                clear: both;
                content: "";
                display: table; }
              @media screen and (min-width: 80em) {
                .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul li a {
                  max-width: 60%;
                  margin-left: auto;
                  margin-right: auto; }
                  .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul li a::after {
                    clear: both;
                    content: "";
                    display: table; } }
              .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul li a svg {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
                fill: #fff; }
                .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul li a svg path {
                  fill: #fff; }
              .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul li a img {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                height: auto;
                margin: 0 auto; }
              .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul li a.lalegal-logo {
                width: 100%;
                max-width: 100%; }
                .networkSection .content-subcontenido .box-logos .wrapper-box-logos .one-box-logos ul li a.lalegal-logo img {
                  padding: 30px 0; }

.PowerInfluencer-Section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-image: url(../img/power-influencer-bg.jpeg);
  background-size: cover;
  padding: 30px 0; }
  .PowerInfluencer-Section:last-child {
    margin-right: 0; }
  @media screen and (min-width: 80em) {
    .PowerInfluencer-Section {
      padding-top: 50px;
      padding-bottom: 70px; } }
  .PowerInfluencer-Section .logotipo-powerinfluencer-Home {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin: 0 auto !important;
    float: none; }
    .PowerInfluencer-Section .logotipo-powerinfluencer-Home:last-child {
      margin-right: 0; }
    @media screen and (min-width: 80em) {
      .PowerInfluencer-Section .logotipo-powerinfluencer-Home {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        margin: 0 auto !important;
        float: none;
        padding: 20px 0; }
        .PowerInfluencer-Section .logotipo-powerinfluencer-Home:last-child {
          margin-right: 0; } }
  .PowerInfluencer-Section .content-PI {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
    .PowerInfluencer-Section .content-PI::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 80em) {
      .PowerInfluencer-Section .content-PI {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 0; }
        .PowerInfluencer-Section .content-PI::after {
          clear: both;
          content: "";
          display: table; } }
    .PowerInfluencer-Section .content-PI .contentAllPI {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .PowerInfluencer-Section .content-PI .contentAllPI:last-child {
        margin-right: 0; }
      @media screen and (min-width: 80em) {
        .PowerInfluencer-Section .content-PI .contentAllPI {
          display: table; } }
      .PowerInfluencer-Section .content-PI .contentAllPI .info-PI {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .PowerInfluencer-Section .content-PI .contentAllPI .info-PI:last-child {
          margin-right: 0; }
        @media screen and (min-width: 80em) {
          .PowerInfluencer-Section .content-PI .contentAllPI .info-PI {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 40.29137%;
            float: none;
            display: table-cell;
            vertical-align: middle; }
            .PowerInfluencer-Section .content-PI .contentAllPI .info-PI:last-child {
              margin-right: 0; } }
        .PowerInfluencer-Section .content-PI .contentAllPI .info-PI .title-PI {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 82.94039%;
          font-size: 2em;
          font-weight: 300;
          line-height: 38px;
          color: #02b794;
          margin-bottom: 8px; }
          .PowerInfluencer-Section .content-PI .contentAllPI .info-PI .title-PI:last-child {
            margin-right: 0; }
          @media screen and (min-width: 80em) {
            .PowerInfluencer-Section .content-PI .contentAllPI .info-PI .title-PI {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 100%;
              font-size: 3.75em;
              font-weight: 300;
              line-height: 65px; }
              .PowerInfluencer-Section .content-PI .contentAllPI .info-PI .title-PI:last-child {
                margin-right: 0; } }
        .PowerInfluencer-Section .content-PI .contentAllPI .info-PI .texto-PI {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          font-size: 16px;
          font-weight: 300;
          color: #6f7c82;
          letter-spacing: 1px;
          margin-top: 0;
          margin-bottom: 20px;
          line-height: 1.6em; }
          .PowerInfluencer-Section .content-PI .contentAllPI .info-PI .texto-PI:last-child {
            margin-right: 0; }
          @media screen and (min-width: 80em) {
            .PowerInfluencer-Section .content-PI .contentAllPI .info-PI .texto-PI {
              font-size: 19px;
              line-height: 1.8em;
              margin-top: 15px;
              margin-bottom: 30px; } }
        .PowerInfluencer-Section .content-PI .contentAllPI .info-PI .button-Pi {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          border: 1px solid #02b794;
          border-radius: 5px;
          text-transform: uppercase;
          text-align: center; }
          .PowerInfluencer-Section .content-PI .contentAllPI .info-PI .button-Pi:last-child {
            margin-right: 0; }
          .PowerInfluencer-Section .content-PI .contentAllPI .info-PI .button-Pi a {
            text-decoration: none;
            font-size: 12px;
            padding: 10px 20px;
            width: 100%;
            height: 100%;
            display: block;
            color: #02b794; }
      .PowerInfluencer-Section .content-PI .contentAllPI .content-home-PI {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-top: 30px; }
        .PowerInfluencer-Section .content-PI .contentAllPI .content-home-PI:last-child {
          margin-right: 0; }
        @media screen and (min-width: 80em) {
          .PowerInfluencer-Section .content-PI .contentAllPI .content-home-PI {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 57.35098%;
            float: right; }
            .PowerInfluencer-Section .content-PI .contentAllPI .content-home-PI:last-child {
              margin-right: 0; } }
        .PowerInfluencer-Section .content-PI .contentAllPI .content-home-PI img {
          width: 100%;
          height: auto;
          display: block; }

.montanaStudio {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-image: url(../img/montana-studio-bg.jpg);
  background-size: cover;
  padding: 0; }
  .montanaStudio:last-child {
    margin-right: 0; }
  .montanaStudio .middle-montana {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto;
    float: none;
    height: 600px;
    position: relative; }
    .montanaStudio .middle-montana::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 80em) {
      .montanaStudio .middle-montana {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        float: right;
        margin: 0;
        height: 1000px; }
        .montanaStudio .middle-montana:last-child {
          margin-right: 0; } }
    .montanaStudio .middle-montana .content-montana {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      position: absolute;
      z-index: 999; }
      .montanaStudio .middle-montana .content-montana:last-child {
        margin-right: 0; }
      .montanaStudio .middle-montana .content-montana .logotipo-montana-studio {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-top: 30px;
        margin-left: auto !important;
        margin-bottom: 25px;
        margin-right: auto !important; }
        .montanaStudio .middle-montana .content-montana .logotipo-montana-studio::after {
          clear: both;
          content: "";
          display: table; }
        @media screen and (min-width: 80em) {
          .montanaStudio .middle-montana .content-montana .logotipo-montana-studio {
            max-width: 40%;
            margin-left: auto;
            margin-right: auto;
            float: none;
            margin-top: 80px;
            margin-left: auto;
            margin-bottom: 30px;
            margin-right: auto; }
            .montanaStudio .middle-montana .content-montana .logotipo-montana-studio::after {
              clear: both;
              content: "";
              display: table; } }
        .montanaStudio .middle-montana .content-montana .logotipo-montana-studio svg {
          width: 100%;
          height: 100%;
          display: block; }
      .montanaStudio .middle-montana .content-montana .lista-montana {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-top: 0;
        margin-left: auto;
        margin-bottom: 20px;
        margin-right: auto; }
        .montanaStudio .middle-montana .content-montana .lista-montana::after {
          clear: both;
          content: "";
          display: table; }
        @media screen and (min-width: 80em) {
          .montanaStudio .middle-montana .content-montana .lista-montana {
            max-width: 40%;
            margin-left: auto;
            margin-right: auto;
            float: none;
            margin-top: 50px;
            margin-left: auto;
            margin-bottom: 30px;
            margin-right: auto; }
            .montanaStudio .middle-montana .content-montana .lista-montana::after {
              clear: both;
              content: "";
              display: table; } }
        .montanaStudio .middle-montana .content-montana .lista-montana .icon-montana {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 23.23176%;
          text-align: center;
          padding-top: 26px; }
          .montanaStudio .middle-montana .content-montana .lista-montana .icon-montana:last-child {
            margin-right: 0; }
          .montanaStudio .middle-montana .content-montana .lista-montana .icon-montana i {
            font-size: 38px;
            color: #ba007c; }
            @media screen and (min-width: 80em) {
              .montanaStudio .middle-montana .content-montana .lista-montana .icon-montana i {
                font-size: 62px; } }
        .montanaStudio .middle-montana .content-montana .lista-montana .content-lista-montana {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 74.41059%;
          padding-left: 10px;
          border: none;
          border-left: 2px solid #ba007c; }
          .montanaStudio .middle-montana .content-montana .lista-montana .content-lista-montana:last-child {
            margin-right: 0; }
          .montanaStudio .middle-montana .content-montana .lista-montana .content-lista-montana h2 {
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            margin: 5px 0; }
          .montanaStudio .middle-montana .content-montana .lista-montana .content-lista-montana p {
            color: #fff;
            font-size: 12px;
            margin-top: 5px; }
      .montanaStudio .middle-montana .content-montana .boton-montana {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        float: none;
        margin: 0 auto;
        text-align: center; }
        .montanaStudio .middle-montana .content-montana .boton-montana:last-child {
          margin-right: 0; }
        @media screen and (min-width: 80em) {
          .montanaStudio .middle-montana .content-montana .boton-montana {
            margin-top: 30px; } }
        .montanaStudio .middle-montana .content-montana .boton-montana a {
          max-width: 50%;
          margin-left: auto;
          margin-right: auto;
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          background: #fc6aae;
          padding: 11px 40px;
          border-radius: 5px;
          font-size: 13px;
          margin: 0 auto;
          display: block;
          max-width: 40%;
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin: 0 auto;
          float: none; }
          .montanaStudio .middle-montana .content-montana .boton-montana a::after {
            clear: both;
            content: "";
            display: table; }
          .montanaStudio .middle-montana .content-montana .boton-montana a::after {
            clear: both;
            content: "";
            display: table; }
    .montanaStudio .middle-montana .montana-bgMiddle {
      background: #000;
      opacity: 0.7;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 99; }

.mediatrendsSection {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: #000;
  position: relative;
  height: 800px; }
  .mediatrendsSection:last-child {
    margin-right: 0; }
  @media screen and (min-width: 80em) {
    .mediatrendsSection {
      height: 1000px; } }
  .mediatrendsSection .contentMediaTrends {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    position: absolute;
    z-index: 99;
    padding-top: 20px; }
    .mediatrendsSection .contentMediaTrends:last-child {
      margin-right: 0; }
    @media screen and (min-width: 80em) {
      .mediatrendsSection .contentMediaTrends {
        padding-top: 80px; } }
    .mediatrendsSection .contentMediaTrends .logotipo-mediatrends-home {
      max-width: 35%;
      margin-left: auto;
      margin-right: auto;
      float: none;
      margin: 0 auto; }
      .mediatrendsSection .contentMediaTrends .logotipo-mediatrends-home::after {
        clear: both;
        content: "";
        display: table; }
      @media screen and (min-width: 80em) {
        .mediatrendsSection .contentMediaTrends .logotipo-mediatrends-home {
          max-width: 14%;
          margin-left: auto;
          margin-right: auto; }
          .mediatrendsSection .contentMediaTrends .logotipo-mediatrends-home::after {
            clear: both;
            content: "";
            display: table; } }
      .mediatrendsSection .contentMediaTrends .logotipo-mediatrends-home svg {
        width: 100%;
        height: auto;
        display: block;
        fill: #fff; }
    .mediatrendsSection .contentMediaTrends .title-mediatrends {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      float: none;
      margin: 0 auto;
      text-align: center; }
      .mediatrendsSection .contentMediaTrends .title-mediatrends::after {
        clear: both;
        content: "";
        display: table; }
      @media screen and (min-width: 80em) {
        .mediatrendsSection .contentMediaTrends .title-mediatrends {
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 40px;
          margin-left: auto;
          margin-bottom: 100px;
          margin-right: auto; }
          .mediatrendsSection .contentMediaTrends .title-mediatrends::after {
            clear: both;
            content: "";
            display: table; } }
      @media screen and (min-width: 80em) {
        .mediatrendsSection .contentMediaTrends .title-mediatrends .contenidoTituloMtg {
          max-width: 60%;
          margin-left: auto;
          margin-right: auto;
          margin: 0 auto;
          float: none; }
          .mediatrendsSection .contentMediaTrends .title-mediatrends .contenidoTituloMtg::after {
            clear: both;
            content: "";
            display: table; } }
      .mediatrendsSection .contentMediaTrends .title-mediatrends h2 {
        font-size: 17px;
        margin-top: 5px; }
        .mediatrendsSection .contentMediaTrends .title-mediatrends h2 mark {
          background: #fff;
          padding: 0 5px; }
        .mediatrendsSection .contentMediaTrends .title-mediatrends h2.nuestros-canales {
          margin-top: 50px; }
          @media screen and (min-width: 80em) {
            .mediatrendsSection .contentMediaTrends .title-mediatrends h2.nuestros-canales {
              margin-top: 90px; } }
      .mediatrendsSection .contentMediaTrends .title-mediatrends h3 {
        margin-bottom: 5px; }
        .mediatrendsSection .contentMediaTrends .title-mediatrends h3 mark {
          background: #fff;
          padding: 0 5px; }
      .mediatrendsSection .contentMediaTrends .title-mediatrends .line-title {
        background: #fff; }
      .mediatrendsSection .contentMediaTrends .title-mediatrends .mediatrends-info {
        color: #fff;
        font-size: 14px;
        line-height: 24px; }
      .mediatrendsSection .contentMediaTrends .title-mediatrends p.texto-section {
        font-size: 0.8em;
        color: #fff;
        margin-bottom: 10px; }
      .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos {
        width: 100%;
        height: 300px; }
        @media screen and (min-width: 80em) {
          .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos {
            height: 200px; } }
        .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos {
          width: 300px;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center; }
          .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin: 0 auto !important;
            padding: 0;
            text-align: center; }
            .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul::after {
              clear: both;
              content: "";
              display: table; }
            @media screen and (min-width: 80em) {
              .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul {
                max-width: 60%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 40px !important; }
                .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul::after {
                  clear: both;
                  content: "";
                  display: table; } }
            .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 40.29137%;
              list-style: none;
              float: none;
              display: inline-block;
              margin-right: 10px; }
              .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li:last-child {
                margin-right: 0; }
              @media screen and (min-width: 80em) {
                .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li {
                  float: left;
                  display: block;
                  margin-right: 2.35765%;
                  width: 23.23176%; }
                  .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li:last-child {
                    margin-right: 0; } }
              .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a {
                max-width: 80%;
                margin-left: auto;
                margin-right: auto;
                height: 100px;
                display: table; }
                .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a::after {
                  clear: both;
                  content: "";
                  display: table; }
                @media screen and (min-width: 80em) {
                  .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a {
                    max-width: 60%;
                    margin-left: auto;
                    margin-right: auto; }
                    .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a::after {
                      clear: both;
                      content: "";
                      display: table; } }
                .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a svg {
                  display: table-cell;
                  vertical-align: middle;
                  width: 100%;
                  height: auto;
                  display: block;
                  margin: 0 auto;
                  fill: #fff; }
                  .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a svg path {
                    fill: #fff; }
                .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a img {
                  display: table-cell;
                  vertical-align: middle;
                  width: 100%;
                  height: auto;
                  margin: 0 auto; }
                .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a.ChicfitDaily {
                  max-width: 90%;
                  margin-top: -20px; }
                .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a.lalegal-logo {
                  width: 100%;
                  max-width: 100%; }
                  .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a.lalegal-logo img {
                    padding: 30px 0; }
                .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a.disorder-logo {
                  width: 100%;
                  max-width: 100%; }
                  .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a.disorder-logo img {
                    padding: 10px 0; }
                .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a.pousta-logo {
                  width: 100%;
                  max-width: 90%; }
                  .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a.pousta-logo img {
                    padding: 30px 0; }
                .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a.myp-logo {
                  width: 100%;
                  max-width: 90%; }
                  .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .wrapper-box-logos .one-box-logos ul li a.myp-logo img {
                    padding: 10px 0; }
        .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .swiper-pagination .swiper-pagination-bullet {
          background: #cdcaca; }
          .mediatrendsSection .contentMediaTrends .title-mediatrends .box-logos .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background: #fff; }
  .mediatrendsSection .mediatrends-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../img/mediatrends-bg.png);
    opacity: 0.3; }
  .mediatrendsSection .swiper-button-next {
    background-image: url(../img/arrow-right.png); }
  .mediatrendsSection .swiper-button-prev {
    background-image: url(../img/arrow-left.png); }

.mediatrendsLabsSection {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-image: url(../img/mediatrendslabs-bg.jpg);
  background-size: cover;
  padding: 30px 0;
  height: 700px;
  display: table; }
  .mediatrendsLabsSection:last-child {
    margin-right: 0; }
  @media screen and (min-width: 80em) {
    .mediatrendsLabsSection {
      height: 1000px; } }
  .mediatrendsLabsSection .contentMediaLabs {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .mediatrendsLabsSection .contentMediaLabs .logotipe-mediatrendslabsHome {
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
      float: none;
      margin: 0 auto; }
      .mediatrendsLabsSection .contentMediaLabs .logotipe-mediatrendslabsHome::after {
        clear: both;
        content: "";
        display: table; }
      @media screen and (min-width: 80em) {
        .mediatrendsLabsSection .contentMediaLabs .logotipe-mediatrendslabsHome {
          max-width: 20%;
          margin-left: auto;
          margin-right: auto;
          float: none;
          margin: 0 auto; }
          .mediatrendsLabsSection .contentMediaLabs .logotipe-mediatrendslabsHome::after {
            clear: both;
            content: "";
            display: table; } }
      .mediatrendsLabsSection .contentMediaLabs .logotipe-mediatrendslabsHome svg {
        width: 100%;
        height: auto;
        display: block; }
    .mediatrendsLabsSection .contentMediaLabs .textoHomeMTL {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      float: none;
      margin: 0 auto; }
      .mediatrendsLabsSection .contentMediaLabs .textoHomeMTL::after {
        clear: both;
        content: "";
        display: table; }
      @media screen and (min-width: 80em) {
        .mediatrendsLabsSection .contentMediaLabs .textoHomeMTL {
          max-width: 30%;
          margin-left: auto;
          margin-right: auto;
          float: none;
          margin: 0 auto; }
          .mediatrendsLabsSection .contentMediaLabs .textoHomeMTL::after {
            clear: both;
            content: "";
            display: table; } }
      .mediatrendsLabsSection .contentMediaLabs .textoHomeMTL mark {
        background: #fff;
        color: #7e7e7e;
        font-size: 18px;
        font-weight: bold;
        line-height: 31px;
        padding: 0 10px; }
    .mediatrendsLabsSection .contentMediaLabs .btn-MTLabs {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-top: 20px; }
      .mediatrendsLabsSection .contentMediaLabs .btn-MTLabs:last-child {
        margin-right: 0; }
      .mediatrendsLabsSection .contentMediaLabs .btn-MTLabs a {
        max-width: 45%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        display: block;
        margin: 0 auto;
        border: 1px solid #7e7e7e;
        color: #7e7e7e;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 13px;
        padding: 10px 20px; }
        .mediatrendsLabsSection .contentMediaLabs .btn-MTLabs a::after {
          clear: both;
          content: "";
          display: table; }
        @media screen and (min-width: 80em) {
          .mediatrendsLabsSection .contentMediaLabs .btn-MTLabs a {
            max-width: 10%;
            margin-left: auto;
            margin-right: auto;
            float: none;
            margin: 0 auto; }
            .mediatrendsLabsSection .contentMediaLabs .btn-MTLabs a::after {
              clear: both;
              content: "";
              display: table; } }

.footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: #000;
  position: relative; }
  .footer:last-child {
    margin-right: 0; }
  .footer .contactar-mediatrendsGroup {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background: #7e7e7e;
    text-align: center;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    height: 85px; }
    .footer .contactar-mediatrendsGroup:last-child {
      margin-right: 0; }
    @media screen and (min-width: 80em) {
      .footer .contactar-mediatrendsGroup {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        float: right;
        height: 200px;
        margin: 0; }
        .footer .contactar-mediatrendsGroup:last-child {
          margin-right: 0; } }
    .footer .contactar-mediatrendsGroup .btn-text {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #7e7e7e;
      z-index: 999;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      padding: 30px 0;
      display: block;
      cursor: pointer; }
      @media screen and (min-width: 80em) {
        .footer .contactar-mediatrendsGroup .btn-text {
          padding: 100px 0; } }
    .footer .contactar-mediatrendsGroup .contactar-form {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      background: #000;
      color: #fff;
      z-index: 9999;
      bottom: 400px;
      padding: 20px;
      position: absolute;
      right: 0;
      z-index: 99;
      bottom: 80px;
      margin: 0; }
      .footer .contactar-mediatrendsGroup .contactar-form:last-child {
        margin-right: 0; }
      @media screen and (min-width: 80em) {
        .footer .contactar-mediatrendsGroup .contactar-form {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          bottom: 200px;
          float: right;
          padding: 70px 60px;
          margin: 0; }
          .footer .contactar-mediatrendsGroup .contactar-form:last-child {
            margin-right: 0; } }
      .footer .contactar-mediatrendsGroup .contactar-form.form-salida {
        bottom: -400px; }
      .footer .contactar-mediatrendsGroup .contactar-form .close-form {
        position: absolute;
        z-index: 999999;
        right: 0;
        top: 0;
        height: 60px;
        width: 60px;
        background: #1e1d1d;
        font-size: 25px;
        padding-top: 13px; }
      .footer .contactar-mediatrendsGroup .contactar-form .h3 {
        text-align: center;
        text-transform: uppercase; }
      .footer .contactar-mediatrendsGroup .contactar-form .input-form {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        background: none;
        border: 2px solid #fff;
        padding: 10px;
        font-size: 13px;
        margin-bottom: 10px;
        color: #fff;
        outline: none; }
        .footer .contactar-mediatrendsGroup .contactar-form .input-form:last-child {
          margin-right: 0; }
        .footer .contactar-mediatrendsGroup .contactar-form .input-form::-webkit-input-placeholder {
          color: #fff;
          font-style: italic; }
        .footer .contactar-mediatrendsGroup .contactar-form .input-form::-moz-placeholder {
          color: #fff;
          font-style: italic; }
        .footer .contactar-mediatrendsGroup .contactar-form .input-form:-moz-placeholder {
          color: #fff;
          font-style: italic; }
        .footer .contactar-mediatrendsGroup .contactar-form .input-form:-ms-input-placeholder {
          color: #fff;
          font-style: italic; }
        .footer .contactar-mediatrendsGroup .contactar-form .input-form.enviar-submit {
          background: #fff;
          color: #000;
          font-weight: bold; }
    .footer .contactar-mediatrendsGroup.FormVisible {
      overflow: visible; }
  .footer .social-MTG {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center; }
    .footer .social-MTG:last-child {
      margin-right: 0; }
    @media screen and (min-width: 80em) {
      .footer .social-MTG {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin: 0;
        padding: 20px 0; }
        .footer .social-MTG:last-child {
          margin-right: 0; } }
    .footer .social-MTG ul {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin: 0 auto;
      float: none;
      padding: 20px 0; }
      .footer .social-MTG ul::after {
        clear: both;
        content: "";
        display: table; }
      @media screen and (min-width: 80em) {
        .footer .social-MTG ul {
          max-width: 30%;
          margin-left: auto;
          margin-right: auto;
          margin: 0 auto;
          float: none;
          padding: 10px 0; }
          .footer .social-MTG ul::after {
            clear: both;
            content: "";
            display: table; } }
      .footer .social-MTG ul li {
        display: inline-block;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .footer .social-MTG ul li:last-child {
          margin-right: 0; }
        .footer .social-MTG ul li a {
          width: 50px;
          height: 50px;
          display: table;
          margin: 0 auto;
          background: #fff;
          border-radius: 50%;
          font-size: 30px;
          text-decoration: none; }
          @media screen and (min-width: 80em) {
            .footer .social-MTG ul li a {
              width: 40px;
              height: 40px; } }
          .footer .social-MTG ul li a i {
            color: #000;
            display: table-cell;
            vertical-align: middle; }
  .footer .info-MTGFooter {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .footer .info-MTGFooter:last-child {
      margin-right: 0; }
    @media screen and (min-width: 80em) {
      .footer .info-MTGFooter {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        float: left;
        margin: 0; }
        .footer .info-MTGFooter:last-child {
          margin-right: 0; } }
    .footer .info-MTGFooter ul {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin: 0 auto;
      float: none;
      padding: 10px 0;
      color: #fff;
      text-align: center; }
      .footer .info-MTGFooter ul::after {
        clear: both;
        content: "";
        display: table; }
      @media screen and (min-width: 80em) {
        .footer .info-MTGFooter ul {
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
          margin: 0 auto;
          float: none;
          padding: 10px 0; }
          .footer .info-MTGFooter ul::after {
            clear: both;
            content: "";
            display: table; } }
      .footer .info-MTGFooter ul li {
        list-style: none;
        font-size: 14px;
        margin-bottom: 5px;
        padding-bottom: 5px; }
        @media screen and (min-width: 80em) {
          .footer .info-MTGFooter ul li {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 40.29137%; }
            .footer .info-MTGFooter ul li:last-child {
              margin-right: 0; } }
        .footer .info-MTGFooter ul li i {
          font-size: 19px;
          width: 20px;
          border-right: 1px solid #fff;
          padding-right: 10px;
          margin-right: 10px; }
        @media screen and (min-width: 80em) {
          .footer .info-MTGFooter ul li.footer-list-first {
            text-align: right; } }
  .footer .derechos {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 11px;
    text-align: center;
    padding-bottom: 20px; }
    .footer .derechos::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 80em) {
      .footer .derechos {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin: 0; }
        .footer .derechos:last-child {
          margin-right: 0; } }

.slideUp {
  -webkit-transition: slideUp 1s ease;
  -moz-transition: slideUp 1s ease;
  transition: slideUp 1s ease;
  visibility: visible !important;
  display: block; }

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    bottom: 0; }
  50% {
    -webkit-transform: translateY(-8%); }
  65% {
    -webkit-transform: translateY(4%); }
  80% {
    -webkit-transform: translateY(-4%); }
  95% {
    -webkit-transform: translateY(2%); }
  100% {
    -webkit-transform: translateY(0%);
    bottom: 400px; } }
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(100%);
    bottom: 0; }
  50% {
    -moz-transform: translateY(-8%); }
  65% {
    -moz-transform: translateY(4%); }
  80% {
    -moz-transform: translateY(-4%); }
  95% {
    -moz-transform: translateY(2%); }
  100% {
    -moz-transform: translateY(0%);
    bottom: 400px; } }
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    bottom: 0; }
  50% {
    -webkit-transform: translateY(-8%);
    -moz-transform: translateY(-8%);
    -ms-transform: translateY(-8%);
    -o-transform: translateY(-8%);
    transform: translateY(-8%); }
  65% {
    -webkit-transform: translateY(4%);
    -moz-transform: translateY(4%);
    -ms-transform: translateY(4%);
    -o-transform: translateY(4%);
    transform: translateY(4%); }
  80% {
    -webkit-transform: translateY(-4%);
    -moz-transform: translateY(-4%);
    -ms-transform: translateY(-4%);
    -o-transform: translateY(-4%);
    transform: translateY(-4%); }
  95% {
    -webkit-transform: translateY(2%);
    -moz-transform: translateY(2%);
    -ms-transform: translateY(2%);
    -o-transform: translateY(2%);
    transform: translateY(2%); }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    bottom: 400px; } }
.slideDown {
  -webkit-transition: slideDown 1s ease;
  -moz-transition: slideDown 1s ease;
  transition: slideDown 1s ease;
  visibility: visible !important;
  display: block; }

@keyframes slideUp {
  100% {
    bottom: -400px; } }
.form-salida {
  -webkit-transition: form-salida 2s ease-in-out;
  -moz-transition: form-salida 2s ease-in-out;
  transition: form-salida 2s ease-in-out; }

@-webkit-keyframes form-salida {
  100% {
    -webkit-transform: translateY(100%);
    bottom: -400px !important; } }
@-moz-keyframes form-salida {
  100% {
    -moz-transform: translateY(100%);
    bottom: -400px !important; } }
@keyframes form-salida {
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    bottom: -400px !important; } }

/*# sourceMappingURL=_MediatrendsGroup.css.map */
